.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-rowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.App-columnWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
  justify-content: center;
}


